<h1>About us</h1>
<p>For anyone who wants to make something, fix something, personalize something...</p>

<p><a href="http://you3dit.com" target="blank">You3Dit</a> is a global, web-based community comprised of 3D Printers, CAD designers and Makers who want to bring their ideas to life.</p>

<p><b>Unlike</b> makexyz.com, 3dhubs.net or shapeways.com, <a href="http://you3dit.com" target="blank">You3Dit</a> allows anyone to participate in making physical objects and fast.  With designers and desktop manufacturing machines distributed across the globe, the You3Dit community can convert your idea into a physical reality in less than 48 hours.</p>

<p>Don't believe us? Become a Maker and <a href="http://you3dit.com/#maker" target="blank">submit your idea at You3Dit today!</a></p>